
body{margin: 0;
text-align: center;
background-color: #CDF0EA;
font-family: "Merriweather" , serif;}

h1 { line-height: 5px;
   font-size: 90px;
  margin: 0 auto 0 auto;
  color: #66BFBF;
font-family: "Sacramento" , cursive;}

.top {position: relative;
  padding-top: 200px;

}

h2 { font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: "Montserrat" , sans-serif;}
h3 {color: #11999E;
  font-family: "Montserrat" , sans-serif;}

a {color: #11999E;}


.pro {text-decoration: underline;}
.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position:absolute;
  right: 400px;
}
